h1 {
	font:14px;
}

.big-text {
	font-family: Arial;
}


#info {
	text-align: center;
	padding: 3%;
	margin: 3%;
}

p {
	font:12px;
	font-family: Times;
}


img {
    display: block;
    margin: center;
    width: 40%;
}
.caption {
    display: block;
}


.about {
	background-color: lightyellow;
	text-align: left;
	padding: 4%;
	font-size: 18px;
}

.navbar {
  background-color: #B7CEEC;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar li{
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar-header a{
	margin-top: 13%;
}

.icon-bar {
  background-color: #224cbd;
}

img { 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
	background-color: #F9DEA9;
	position: relative;
	text-align: left;
	padding: 1%;
	margin-top: -1%;
}

.main {
	margin-top: 30px; /* Add a top margin to avoid content overlay */
	position: relative;
}

body {
	background-image: url("img/polyagonal-web-design.jpg");
    	}

#portfolio {
	background-color: lightblue;
	font-size: 18px;
	padding: 2%;
}

#portfolio img{
	height: 28%;
	width: 80%;
}


#contact img {
	height: 10%;
	width: 10%;
}